@import url("https://discordstyles.github.io/BasicBackground/BasicBackground.theme.css");
@import url("https://discordstyles.github.io/RevertRebrand/RevertRebrand.theme.css");

:root {
    --background-image: url("https://i.imgur.com/ffQeIrT.png");
    --background-blur: 0px;
    --background-brightness: 100%;
    --background-opacity: 100%;
    --popout-modal-color: rgba(30, 33, 36, 0.95);
    --main-color: #7289da;
    --hover-color: #99aab5;
    --text-link: #7289da;
    --font: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --window-padding: 0px;
    --window-roundness: 8px;
    --chat-bubble: none;
}

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.sidebar-nqHbhN [aria-label="Library"],
.sidebar-nqHbhN [aria-label="Shop"],
.sidebar-nqHbhN [aria-label="Nitro"],
.sidebar-nqHbhN [aria-label="Activity"] {
    display: none !important;
}
